---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Kiki's Blog">
  <ul>
    <li>
      <a href="./blog/next/">Next</a>
    </li>
    <li>
      <a href="./blog/tailwind/">Tailwind</a>
    </li>
    <li>
      <a href="./blog/testing-library/">Testing Library</a>
    </li>
    <li>
      <a href="./blog/tradeoffs/">Site Tradeoffs</a>
    </li>
    <li>
      <a href="./blog/vscode/">Configuring VSCode</a>
    </li>
  </ul>
</MainLayout>
