---
// layout import
import PostCard from "../../components/PostCard.astro";

// components import
import MainLayout from "../../layouts/MainLayout.astro";

const allPosts = await Astro.glob("./*.md");
---

<MainLayout title="Kiki's Blog">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {allPosts.map(({ frontmatter, url }) => <PostCard {frontmatter} {url} tagType="h2" />)}
    </div>
  </section>
</MainLayout>
