---
// library imports
import { Image } from "@astrojs/image/components";

// import the layout component
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kiki's Blog | About" description="About page">
	<section class="container about" aria-label="About Me">
    <Image
      src="/images/headshot.png"
      alt="My headshot"
      width="300"
      height="300"
      format="avif"
      fit="cover"
    />
    <div class="content">
      <h1 class="h1">Hi, I'm Tony...</h1>
      <p>
        I'm a web and mobile application developer with a focus on UI engineering, full-stack development, UX design and design systems. I have over five(5) years experience in professional work environment working onsite and fully remote.
      </p>
			<Link
			  href="mailto:tony.kharioki@gmail.com"
				style="primary"
				text="Contact Me"
			/>
    </div>
  </section>
</MainLayout>
