---
import MainLayout from "../layouts/MainLayout.astro";

const isRed = true;
---

<MainLayout title="Kiki's Blog" description="Kiki's Blog">
	<h1>My Blog</h1>
	<p>Here are my thoughts on things.</p>
	<p class:list={["big", { red: isRed }]}>Hey, I am from Kenya</p>
</MainLayout>

<style>
	.big {
		font-size: 2rem;
	}
	.red {
		color: red;
	}
</style>
